<h1>Mentorship Program Listings</h1>

<input type="text" [(ngModel)]="searchProgram" placeholder="Search by Prgram Name or Mentor Name" (input)="search()" />

<table>
    <thead>
        <tr>
            <th>Sr. No</th>
            <th>Program Name</th>
            <th>Field of Mentorship</th>
            <th>Duration (in Months)</th>
            <th>Mentor Name</th>
            <th>Experience Level</th>
            <th>Mode of Mentorship</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let prog of programs; let i = index">
            <td>{{i+1}}</td>
            <td>{{prog.ProgramName}}</td>
            <td>{{prog.FieldOfMentorship}}</td>
            <td>{{prog.DurationInMonths}}</td>
            <td>{{prog.MentorName}}</td>
            <td>{{prog.ExperienceLevel}}</td>
            <td>{{prog.ModeOfMentorship}}</td>
            <td>{{prog.Description}}</td>
            <td>
                <button type="submit" id="edit-button"  (click)="editProgram(prog.MentorshipProgramId)" >Edit</button>
                <button type="submit" id="delete-button" (click)="deleteProgram(prog.MentorshipProgramId)" >Delete</button>
            </td>
        </tr>
    </tbody>

</table>