<app-usernav></app-usernav>

<div class="container1">

  <div class="container mt-5" [ngClass]="{'blur-background': isPopUpOpen}">
    <h1 style="text-align: center; margin: 10px; font-family: 'Gilroy-Bold', sans-serif;">My Feedback</h1>
    <hr>
    <div class="row mb-3">
      <table class="table" *ngIf="feedbacks.length > 0; else noRecords">
        <thead style="font-family: 'Gilroy-Medium', sans-serif;" class="thead">
          <tr class="text-center bg-common text-white">
            <th>S.No</th>
            <th>Feedback</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="text-center bg-table" style="font-family: 'Gilroy-Regular', sans-serif;">
          <tr *ngFor="let feedback of feedbacks; let i = index">
            <td>{{i + 1}}</td>
            <td>{{feedback.FeedbackText}}</td>
            <td>
              <button id="delete" class="btn-custom-delete" (click)="openDeletePopUp(feedback.FeedbackId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noRecords>
        <div class="text-center" style="font-family: 'Gilroy-Regular', sans-serif;">
          Oops! No records Found
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div *ngIf="isPopUpOpen">
  <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteFeedback()">Yes, Delete</button>
          <button type="button" class="button-red-border" (click)="closeDeletePopUp()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

