<app-usernav></app-usernav>
<div class="container">
  <h2>Available Mentorship Programs</h2>

  <input type="checkbox" id="toggle" style="display: none;">
  <div class="search-container">
    <input id="searchInput" class="search-field" placeholder="Search by Program or Mentor Name" [(ngModel)]="searchTerm" (input)="filterPrograms()" />
    <label for="toggle" class="search-icon">🔍</label>
  </div>
  
  <div class="card-container">
    <div class="card" *ngFor="let program of paginatedPrograms(); let i = index">
      <h3>{{ program.ProgramName }}</h3>
      <p><strong>Field:</strong> {{ program.FieldOfMentorship }}</p>
      <p><strong>Mentor:</strong> {{ program.MentorName }}</p>
      <p><strong>Experience:</strong> {{ program.ExperienceLevel }}</p>
      <p><strong>Mode:</strong> {{ program.ModeOfMentorship }}</p>
      <p><strong>Description:</strong> {{ program.Description }}</p>
      <button [disabled]="!program.canApply" (click)="apply(program, program.MentorshipProgramId)">
        {{ program.applied ? 'Applied' : 'Apply' }}
      </button>
      <span class="wishlist-icon" (click)="addToWishlist(program)">❤️</span>
    </div>
    <p *ngIf="filteredPrograms.length === 0" class="no-records">Oops! No records found</p>
  </div>
  
  
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
<a routerLink="/wishlist">Go to Wishlist</a>

