
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0ECE2;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  color: #325C70ff;
  text-align: center;
  margin-bottom: 20px;
}


.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  width: 100%;
  padding: 10px;
  border: 2px solid #325C70ff;
  border-radius: 4px;
  font-size: 14px;
  color: #273255ff;
}

.search-field::placeholder {
  color: #5C8A93ff;
}

.search-field:focus {
  outline: none;
  border-color: #1D4A60ff;
}

.search-icon {
  margin-left: 10px;
  cursor: pointer;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #5C8A93ff;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  min-height: 300px; 
}

.card-content {
  padding-bottom: 60px; 
}

.apply-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 90%; 
  background-color: #325C70ff;
  color: #F0ECE2;
  padding: 15px 0; 
  border: none;
  border-radius: 8px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  transform: translate(-50%);
}

.apply-button:hover {
  background-color: #1D4A60ff;
}

.apply-button:disabled {
  background-color: #5C8A93ff;
  cursor: not-allowed;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #5C8A93ff;
  transition: color 0.3s ease;
}

.wishlist-icon:hover {
  color: #1D4A60ff;
}


.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 8px 12px;
  background-color: #325C70ff;
  color: #F0ECE2;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #5C8A93ff;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #1D4A60ff;
}


.no-records {
  text-align: center;
  margin-top: 20px;
  color: #5C8A93ff;
}


.wishlist-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #325C70ff;
  text-decoration: none;
}

.wishlist-link:hover {
  color: #1D4A60ff;
  text-decoration: underline;
}