.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 36px;
    font-weight: bold;
    color: #325C70ff;
}

.no-data {
    color: #ACDBDF;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ACDBDF;
    border-radius: 5px;
    background-color: #F0ECE2;
}

.feedback-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.feedback-table thead {
    background-color: #1D4A60ff;
    color: #F0ECE2;
    font-weight: bold;
}

.feedback-table th {
    background-color: #325C70ff;
    color: #FFFFFF;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
}

.feedback-table td {
    padding: 10px;
    font-size: 14px;
    color: #273255ff;
    text-align: center;
    border: none;
}

.feedback-table tbody tr:hover {
    background-color: #5C8A93ff;
    color: #F0ECE2;
}

.btn-action {
    background-color: transparent;
    border: 1px solid #325C70ff;
    color: #325C70ff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-action:hover {
    background-color: #1D4A60ff;
    color: #F0ECE2;
}

.modal-profile {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.modal-header {
    background-color: #325C70ff;
    color: #F0ECE2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body p {
    font-size: 16px;
    color: #273255ff;
}

.btn-close-modal {
    background-color: #5C8A93ff;
    color: #F0ECE2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-close-modal:hover {
    background-color: #325C70ff;
}