<nav class="navbar">

      <div class="navbar-brand">
     
       <span>MENTORSHIP PROGRAM APPLICATION</span>
     
      </div>
     
     
     
      <div class="navbar-user">
     
       <span>Admin / Admin</span>
     
      </div>
     
     
     
      <ul class="navbar-links">
     
       <li><a routerLink="/admin-home">Home</a></li>
     
        
     
       <li class="dropdown">
     
        <a href="#">Mentorship Program</a>
     
        <div class="dropdown-content">
     
         <a routerLink="/creatementorshipprogram">Add Mentorship Program</a>
     
         <a routerLink="/viewmentorshipprogram">View Mentorship Program</a>
     
        </div>
     
       </li>
     
     
     
       <li><a routerLink="/requestedmentorshipapplication">Mentorship Application Requested</a></li>
     
       <li><a routerLink="/adminviewfeedback">Feedbacks</a></li>
     
       <li><button (click)="logout()">Logout</button></li>
     
      </ul>
     
     </nav>