<nav class="navbar">
  <h1 class="navbar-brand">MENTORSHIP PROGRAM APPLICATION</h1>
  <ul class="navbar-links">
    <div class="left-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/user/viewmentorshipprogram">Mentorship Programs</a></li>
      <li><a routerLink="/user/appliedmentorshipapplication">Applied Mentorship Application</a></li>
      <li class="dropdown">
        <select (change)="onDropdownChange($event)">
          <option value="" disabled selected>Feedback</option>
          <option value="addFeedback">Post Feedback</option>
          <option value="viewFeedback">My Feedbacks</option>
        </select>
      </li>
      <li><a routerLink="/user/wishlist">Wishlist</a></li>
    </div>
    <div class="right-links">
      <li class="nav-item">
        <span class="nav-link">Welcome, {{ userName }} (User)</span>
      </li>
      <li class="nav-item">
        <button class="btn-logout" (click)="showLogoutAlert()">Logout</button>
      </li>
    </div>
  </ul>
</nav>