<nav class="navbar">
  <h1 class="navbar-brand">MENTORSHIP PROGRAM APPLICATION</h1>
  <ul class="navbar-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/userviewmentorshipprogram">Mentorship Programs</a></li>
    <li><a routerLink="/userappliedmentorshipapplication">Applied Mentorship Application</a></li>
    <li>
      <select (change)="navigate($event)">
        <option value="" disabled selected>Feedback</option>
        <option value="/useraddfeedback">Post Feedback</option>
        <option value="/userviewfeedback">My Feedbacks</option>
      </select>
    </li>
    <li><button class="logout-btn" (click)="confirmLogout()">Logout</button></li>
  </ul>
</nav>
