.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  width: 40%;
  word-break: break-all;
  margin-top: 20px;
}

.left-side h2 {
  font-size: 5em;
  font-weight: bolder;
  line-height: 1.2;
  color:  #1D4A60ff;
}


.right-side {
  width: 55%;
}

.registration-popup {
  padding: 20px;
  border: 2px solid #325C70ff;
  /* Added border to the form */
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ACDBDF;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #1D4A60ff;
  outline: none;
}

.is-invalid {
  border-color: #FF6F61;
  /* Change border color on validation error */
}

.error-message {
  color: #FF6F61;
  font-size: 12px;
}

.btn-primary {
  background-color: #1D4A60ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #1D4A60ff;
  color: white;
}


.btn-primary:disabled {
  background-color: #5C8A93ff;
  cursor: not-allowed;
}