body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.left-side {
  flex: 1;
  background: url('/assets/images/Untitled design.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.left-side h2 {
  color: #D8D9DA; /* Soft light gray */
  font-size: 36px;
  font-weight: bold;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registration-popup {
  background: rgba(39, 40, 41, 0.1); /* Dark slate gray with opacity */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #61677A; /* Muted blue-gray */
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #61677A; /* Muted blue-gray */
  border-radius: 4px;
  background: #FFF6E0; /* Warm pastel yellow */
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

input::placeholder {
  color: #61677A; /* Muted blue-gray */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #D8D9DA; /* Soft light gray */
  border-radius: 4px;
  color: #272829; /* Dark slate gray */
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #61677A; /* Muted blue-gray */
  color: #FFF6E0; /* Warm pastel yellow */
}

button:disabled {
  border: 1px solid #61677A; /* Muted blue-gray */
  background-color: #D8D9DA; /* Soft light gray */
  color: #61677A; /* Muted blue-gray */
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}